
@{
    ViewBag.Title = "Distance";
}

<h2>Distance</h2>

@Html.Action("ProviceList", "DropDown", new { SelectedProperty = "ProviceId", CSSClass = "form-control" })

@Html.Action("AmphurList", "DropDown", new { SelectedProperty = "AmphurId", CSSClass = "form-control" })

@Html.Action("TambonList", "DropDown", new { SelectedProperty = "TambonId", CSSClass = "form-control" })