@model Distance.MVC.Models.MasterDataModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form class="form-horizontal" id="forma">

    @Html.Partial("FormAmphur")

    <input type="submit" id="submita" style="display:none;" value="Submit" />
</form>

<script type="text/javascript" src="@Url.Content("/Scripts/JS/AmphurJS.js")"></script>


<script>

    $(function () {

       $(".modal-dialog").width("50%");
       $('.selectpicker').selectpicker();

    });
</script>
