
@{
    ViewBag.Title = "Home";
}



<div class="jumbotron">
    <div id="bg-content">
        <div class="container" style="padding-top:30px;">
            <div class="row">
                <br><br><br><br><br><br><br><br><br><br>
                <div style="font-weight:bold" class="col-md-6 text-success">
                 
                </div>

                <br><br><br>
                
            </div>
            <div>

            </div><br><br><br><br>
        </div>
    </div>

</div>

<style>
   

    .jumbotron-signup {
        width: 100%;
        background-color: #fff;
        margin-bottom: 20px;
    }
</style>

